// Add any custom Sass & CSS here

h1 {
  font-family: Playfair;
  font-size: 90px;
  margin-bottom: 4%;
  color: $third_color;
}

h2 {
  font-family: Playfair;
  color: $third_color;
}

h3 {
  font-family: Playfair;
  color: $third_color;

}

h4 {
  font-family: Playfair;
  color: $third_color;

}

a {
  color: $third_color;
}

.mobile_bar {
  color: $first_color;
  .button {
    margin: auto auto;
    background-color: transparent;
    font-family: Playfair;
    font-weight: 700;
    font-size: 18px;
    color: $third_color;
  }
  background-color: transparent;
}

.desktop_bar {
  .button {
    background-color: transparent;
    font-family: Playfair;
    font-weight: 400;
    font-size: 18px;
    color: $third_color;
    :focus {
      border-color: $third_color;
    }
  }
}

.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.title-bar {
  background-color: transparent;
}

.home_title {
  margin-top: 5%;
  padding-left: 2%;
}

.discover_section {
  margin-top: 60px;
  font-size: 22px;
}

.discover_button {
  padding: 10px 0 10px 0;
  color: $third_color;
  /*:hover {
    color: #0c4d78;
    @include transition(0.5s);
    border-bottom: solid;
    border-bottom-color: $third_color;
    border-width: 2px;
  }*/
}

.hvr-underline-from-left:hover {
  color: $third_color;
}

.login_form {
  height: auto;
  width: auto;
  color: $third_color;
}

.login_input {
  font-family: Playfair;
  width: 200px;
  margin: 10px auto;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 12px;
}

.login_title {
  margin-bottom: 5%;
}

.login_buttons {
  margin-top: 5%;
  margin-left: 3%;
  margin-right: 3%;
}

.thumbnail {
  width: 250px;
  max-width: 100%;
  height: auto;
}

.sites_result {
  margin-top: 100px;
  .ng-enter {
    -webkit-animation: bounceIn 1s;
    -moz-animation: bounceIn 1s;
    -ms-animation: bounceIn 1s;
    animation: bounceIn 1s;
  }

  .ng-leave {
    -webkit-animation: bounceOut 1s;
    -moz-animation: bounceOut 1s;
    -ms-animation: bounceOut 1s;
    animation: bounceOut 1s;
  }

}


/*The search bar's css*/

input[type=search] {
  background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  font-family: Playfair;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 180px;
  border-radius: 10em;
  @include transition(0.5);
}

input[type=search]:focus {
  width: 320px;
  font-family: Playfair;
  background-color: #fff;
  border-color: #66CC75;
  box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  @include transition(0.5);
}

label {
  font-family: Playfair;
  font-size: 18px;
}

.slide_module {
  padding: 10px 0 10px 0;
}

.search_bar_area {
  margin-top: 30px;
}

/*Animation for ng-repeat*/

/* Animations */
.slide-animation.ng-enter{
  -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

  position: absolute;
  left: 0;
  right: 0;
  min-height: 1000px;
}

.slide-animation.ng-enter {
  opacity: 0;
  left: 100px;
}

.slide-animation.ng-enter.ng-enter-active {
  left: 0;
  opacity: 1;
}

.slide-animation.ng-leave {
  left: 0;
  opacity: 1;
}

.slide-animation.ng-leave.ng-leave-active {
  left: -100px;
  opacity: 0;
}
