// Add any custom Sass & CSS here

h1 {
  font-family: Playfair;
  font-size: 90px;
  margin-bottom: 4%;
}

h2 {
  font-family: Playfair;
}

h3 {
  font-family: Playfair;

}



.mobile_bar {
  color: $first_color;
  .button {
    margin: auto auto;
    background-color: transparent;
    font-family: Playfair;
    font-weight: 700;
    font-size: 18px;
    color: $third_color;
  }
  background-color: transparent;
}

.desktop_bar {
  .button {
    background-color: transparent;
    font-family: Playfair;
    font-weight: 400;
    font-size: 18px;
    color: $third_color;
  }
}

.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.title-bar {
  background-color: transparent;
}

.home_title {
  margin-top: 5%;
  padding-left: 2%;
}

.discover_section {
  margin-top: 60px;
  font-size: 22px;
}

