<div class="detail_view" ng-controller='detailsController'>
    <div class="row">

        <div class="small-12 medium-8 ">

            <div class="row">
                <h1>{{resort.name}}</h1>
                <h5 class="align-right">{{resort.Location}}</h5>
                <p>{{resort.Discription}}</p>

            </div>
        </div>

        <div class="small-12 medium-4 columns">
            <div class="picture_wrapper fullWidth ">
                <img class = "img_detail" src="{{resort.Img_URL}}">
            </div>

        </div>

    </div>

</div>