<div class="detail_view" ng-controller='detailsController'>
    <div class="row columns">
        <h1 class="show-for-large-only">{{resort.name+" "}} <i ng-click="favorite()" class="fa fa-heart-o"></i></h1>
        <h2 class="hide-for-large-only">{{resort.name+" "}} <i ng-click="favorite()" class="fa fa-heart-o"></i></h2>
        <h2>{{resort.Location}}</h2>
    </div>

    <div class="row information_section">
        <div class="medium-4 columns hide-for-small-only">
            <p>{{word_1}}</p>
        </div>
        <div class="medium-4 columns hide-for-small-only">
            <p>{{word_2}}</p>
        </div>
        <div class="small-12 columns show-for-small-only">
            <p>{{resort.Description}}</p>
        </div>
        <div class="medium-4 columns">
            <img src="{{resort.Img_URL}}">
        </div>
    </div>

    <div class="information_area"></div>

    <div class="row">
        <h2>Statistics</h2>
    </div>

    <div class="row">
        <h5>Regular Price:{{resort.Price}}</h5>
        <h5>Discount Price:{{resort.Discount_price}}</h5>

    </div>

</div>