<div class="detail_view" ng-controller='detailsController'>
    <div class="row columns">
        <h1>{{resort.name}}</h1>
        <h2>{{resort.Location}}</h2>
    </div>

    <div class="row information_section">
        <div class="medium-4 columns">
            <p>{{word_1}}</p>
        </div>
        <div class="medium-4 columns">
            <p>{{word_2}}</p>
        </div>
        <div class="medium-4 columns">
            <h3>Resort Manual</h3>
            <img src="{{resort.Img_URL}}">
        </div>
    </div>

    <div class="information_area"></div>

    <div class="row">
        <h2>Statistics</h2>
    </div>

    <div class="row">
        <h5>Regular Price:{{resort.Price}}</h5>
        <h5>Discount Price:{{resort.Discount_price}}</h5>

    </div>

</div>