<div class="home_view" ng-controller='homeController'>
    <form>
        <div class="row">
            <div class="home_title small-8 medium-8">
                <div>
                    <h1 class="home_h1">SkiTacular</h1>
                    <h3>A detailed ski resort search tool</h3>
                    <h3>Set your search preferences and discover the best mountain for you</h3>
                </div>
                <div class="discover_section">
                    <button class="discover_button hvr-grow">
                        <a href="#/function">
                            DISCOVER</a>
                    </button>
                </div>
            </div>

        </div>

        {{displayText}}

    </form>
</div>
