<div class="function_view" ng-controller='functionController'>
    <div class="row">

        <div class="row">
            <rzslider rz-slider-model="range_slider_ticks_values.minValue"
                      rz-slider-high="range_slider_ticks_values.maxValue"
                      rz-slider-options="range_slider_ticks_values.options"></rzslider>
        </div>

        <div class="search_bar_area">
            <input type="search" class="search_bar" placeholder="Search">
        </div>

    </div>

</div>