<div class="home_view" ng-controller='homeController'>
    <form>
        <div class="row">
            <div class="home_title hide-for-small-only">
                <div class="medium-8">
                    <h1 class="home_h1">SkiTacular</h1>
                    <h3>Balabalabala Balabalabala</h3>
                    <h3>Balabalabala</h3>
                </div>
                <div class="discover_section">
                    <button class="discover_button hvr-underline-from-left">
                        <a href="#/function">
                            DISCOVER</a>
                    </button>
                </div>
            </div>

        </div>

        {{displayText}}

    </form>
</div>
